@import "../../node_modules/bootstrap/scss/bootstrap";
@import "font-awsome/font-awesome";

$sizes: (
  5: 5%,
  5-r: 5rem,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

.t-0 {
  top:0 !important;
}

.menu {
  height: 46px;
  z-index: 999;
}

.content {
  padding-top: 46px;
  .progress.sub-menu-loader {
    height: 5px;
    background: $white;
    border-radius: 0;
  }

}

#root {
  user-select: none;
}


@import "loader";